<h1>micropost</h1>
<div>
	<strong>Context</strong>
	<%= @micropost.context %>
</div>
<div>
	<strong>Context</strong>
	<%= @micropost.user_id %>
</div>
<%= link_to "back", microposts_path %> |
<%= link_to "edit", edit_micropost_path %>
